<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.tranquilitybase.audio-hal-watchdog</string>
  <key>ProgramArguments</key>
  <array><string>/bin/bash</string><string>__WATCHDOG__</string></array>
  <key>StartInterval</key><integer>20</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>__HOME__/Library/Application Support/VoiceDispatch/audio-watchdog/launchd.out</string>
  <key>StandardErrorPath</key><string>__HOME__/Library/Application Support/VoiceDispatch/audio-watchdog/launchd.err</string>
</dict>
</plist>
